
body{
background-color:sky blue;
}
.ab{
font-Family:arial,verdana;
color: red;
}
.bc{
font-Family:arial,verdana;
color: blue;
}
.de{
font-Family:arial,verdana;
color: purple;
}
.fg{
font-Family:arial,verdana;
color: green;
}
.hi{
font-Family:arial,verdana;
color: blue;
}
